@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro Bold';
  src: url('../fonts/MyriadPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro Semibold';
  src: url('../fonts/MyriadPro-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro Semibold Italic';
  src: url('../fonts/MyriadPro-SemiboldIt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
    box-sizing: border-box;
	}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
  vertical-align: middle;
  }
*,
*::before,
*::after{
	box-sizing: inherit;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
  line-height: 18px;
}
p{
  margin: 0;
  padding: 0;
}
body{
	font-weight: 400;
	font-size: 14px;
	color: #121212;
  font-family: 'MyriadPro', sans-serif;
  letter-spacing: normal;
}

.container {
  box-sizing: border-box;
	max-width: 1320px;
  width: 100%;
  padding: 0 20px;
	margin: 0 auto;
}

.header{
  color: #767676;
  &-background{
    background-color: #dcdcdc;
  }
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 68px 0;
  }
}

.logo{
  display: flex;
  align-items: center;
  &__link{
    width: 100px;
    height: auto;
  }
  &__img{
    width: 100%;
    height: 100%;
  }
  &__inf{
    margin-left: 15px;
  }
  &__title{
    margin-bottom: 16px;
    line-height: 22px;
    letter-spacing: 1.8px;
  }
  &__text{
    letter-spacing: 1px;
  }
}

.phone{
  display: block;
  font-size: 40px;
}

.title{
  font-family: 'MyriadPro Semibold', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #9da3d7;
  text-transform: uppercase;
}

.form-box{
  &__background{
    background: url('../image/Background.jpg') no-repeat top;
    background-size: cover;
  }
  &__title{
    margin-bottom: 20px;
  }
}

.form{
  &-wrapper{
    max-width: 360px;
    width: 100%;
    padding-bottom: 123px;
    padding-top: 75px;
    margin: 0 20px 0 98px;
  }
  &-background{
    background-color: #9da3d7;
  }
  &-title{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 23px 22px 22px 22px;
  }
  &-input, &-button {
    max-width: 292px;
    width: 100%;
    margin-left: 31px;
    margin-right: 37px;
    font-size: 24px;
    border: none;
  }
  &-input{
    color: #767676;
    padding: 10px 15px;
    margin-bottom: 23px;
  }
  &-button{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffc087;
    margin-bottom: 52px;
    padding: 10px 0;
    cursor: pointer;
  } 
}

.slider-inner{
  margin-top: 33px;
  margin-bottom: 128px;
}

.slider-title{
  margin-bottom: 25px;
}

.slider-wrapper{
  max-width: 707px;
  width: 100%;
  height: 303px;
  margin: 0 auto;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.17);
}

.slider-container{
  width: 98%;
  height: 95%;
  top: 50%;
  transform: translateY(-50%);
}

.slide-img{
  width: 100%;
  height: auto;
}

#slider-pagination{
  top: 36px;
  position: relative;
}
#slider-pagination .swiper-pagination-bullet{
  background: none;
  width: 35px;
  height: 35px;
  border: 3px solid #ddd;
  opacity: 1;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.22);
  margin: 0 13px;
}
#slider-pagination .swiper-pagination-bullet-active{
  background: url('../image/circle.png') center no-repeat;
  background-size: 60%;
}

.information{
  margin-bottom: 65px;
  &-title{
    margin-bottom: 32px;
    color: #000;
  }
  &-text{
    text-align: justify;
    letter-spacing: 0.2px;
    line-height: 1.2;
  }
}

.calc-title{
  line-height: 1.3;
  margin-bottom: 30px;
}
.calc{
  margin-bottom: 96px;
}

.calc-change{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 35px;
    align-content: space-between;
    &__item{
      flex-basis: 0 0 20%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__title{
      margin-top: 20px;
      text-align: center;
      font-family: 'MyriadPro Bold', sans-serif;
      transition: 0.2s ease-in-out;
    }
}

.calc-change__item:hover .calc-change__title{
  color: #0099de;
  text-decoration: underline;
}

.calc-form{
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 4px 1px 8px rgba(0, 0, 0, 0.23);
  &__wrapper{
    display: flex;
    margin: 55px 30px 60px 43px;
  }
}

.calc-size{
  flex-basis: 0 0 260px;
  width: 260px;
  margin-right: 120px;
  width: 260px;
  margin-right: 107px;
  &__goods{
    position: relative;
    text-align: center;
    font-family: 'MyriadPro Semibold Italic', sans-serif;
    font-size: 22px;
    color: #636363;
    width: 100%;
    height: 168px;
    margin-bottom: 30px;
    margin-top: 25px;
  }
  &__img{
    position: absolute;
    background-image: url("../image/window.png");
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 100%;
    max-height: 168px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__width{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__height{
    position: absolute;
    top: 44%;
    left: -45px;
    transform: rotate(-90deg);
  }
}

.calc-size{
  &__label{
    font-size: 20.41px;
  }
  &__input{
    width: 92px;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 33px;
    color: #5d5d5d;
  }
  &__cross{
    margin-bottom: 7px;
  }
}

.calc-size__input-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
}

.calc-size__proportions{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


.calc-parameter{
  flex-grow: 1;
  &__title{
    font-family: 'MyriadPro Bold', sans-serif;
    font-size: 30px;
    color: #0099de;
    margin-bottom: 48px;
  }
  &__radio{
    margin-bottom: 60px;
  }
  &__subtitle{
    font-size: 24px;
    font-family: 'MyriadPro Semibold', sans-serif;
    margin-bottom: 20px;
  }
}

.radio{
  &-title{
    margin-bottom: 20px;
  }
  &-item{
    display: inline-block;
    margin-right: 29px;
  }
  &-label{
    font-size: 18px;
    margin-left: 6px;
  }
  &-input{
    transform: scale(1.6);
  }
}

.select{
  &-items{
    position: relative;
    max-width: 358px;
    width: 100%;
    border: 2px solid #c6c6c6;
    background: none;
    border-radius: 10px;
    font-size: 18.41px;
    padding: 11px 20px;
    appearance: none;
    background: url('../image/arrow.png') no-repeat;
    background-position: 95% center;
  }
  &-title{
    margin-bottom: 16px;
  }
}

.calc-form{
  &__send{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  &__item{
    max-width: 282px;
    width: 100%;
    min-width: 200px;
    height: 46px;
    border: none;
    background: none;
    border-radius: 10px;
  }
  &__user-img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
  }
  &__phone-input{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    border-radius: 10px;
    background-color: #c6c6c6;
    padding-left: 65px;
    font-size: 18px;
    color: #424242;
  }
  &__user-phone{
    position: relative;
    font-size: 18px;
    color: #424242;
  }
  &__button{
    font-size: 20px;
    font-family: 'MyriadPro Bold', sans-serif;
    color: #fff;
    background-color: #9da3d7;
    text-transform: uppercase;
    margin-left: 25px;
    cursor: pointer;
  }
}

.footer{
  &-background{
    background-color: #767676;
  }
  &-wrapper{
    padding: 49px 0 44px;
  }
  &-text{
    max-width: 180px;
    width: 100%;
    font-size: 24px;
    color: #fffefe;
  }
}

.modal{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  &__overflow{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 78, 79, 0.6);
  }
  &-background{
    background-color: #9da3d7;
  }
  &-title{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 23px 22px 22px 22px;
  }
}

@import 'media';